

<body>
<%- include('partials/header.html') %>

    <section class="outras-noticias">
        <div class="title-outras-noticia">
            <h2>busca: </h2>
            <br><br>
            <div class="center">

                <div style="width:100%" class="mais-lidas">
                    <h3><%- contagem %> Resultados</h3>
                    <% for(let post of posts) { %>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lida-noticia-single">
                            <img src="/public/img/montanha.jpg" alt="">
                            <div class="texto-mais-lida-single">
                                <h1 style="color:greenyellow;font-size:16px"><%- post.titulo %></h1>
                                <h4><%- post.categoria %></h4>
                                <p><%- post.descricaoCurta %>...</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div> <!-- texto mais lida single -->
                        </div> <!-- mais lida noticia single -->
                        <% } %>
                    </div> <!-- mais lidas noticias -->
                </div> <!-- mais lidas -->
            </div> <!-- center -->
        </div> <!-- title outras noticias -->
    </section> <!-- outras noticias -->
    <%- include('partials/footer.html') %>
</body>

</html>